body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wimg
{
    padding:10px;
    background-color:white;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float:left;
    clear:both;
}
.foreDate
{
    clear:both;
}
.shortTxt
{
    float:left;
    margin:4px;
}
.foreRow
{
    background-color:#042C57;
    color:white;
    border-top:1px solid gray;
    font-family:Arial Helvetica sans-serif;
    padding:10px;
    height:85px;
    box-sizing: content-box;
}
.details
{
    padding:10px;
}
.footer
{
    clear:both;
}
.searchResult {
    background-color:#043A4C;
    color:white;
    border-top:1px solid gray;
    font-family:Arial Helvetica sans-serif;
    padding:10px;
}
